---
layout: default
---
<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
        <span class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
        </span>

        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post__info">
          <div class="post__author">
            <span>By</span>
            <a>{{site.data.settings.author.name}}</a>
          </div>

          {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post__tags-tag">{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% assign no-image = nil %}
  {% if page.image %}
    <div class="post__head">
      <div class="post-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
    </div>
  {% else %}
    {% assign no-image = 'post-no-image' %}
  {% endif %}

  </div>


  <div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">
      
      <div class="toc">
        <a href="#">&lt;맨 위로&gt;</a>
        {% include toc.html html=content %}
      </div>

      <div class="post__content">
        {{ content }}
      </div>

      <div class="post__share">
        <span class="share__title">Share this article:</span>
        <ul class="share__list list-reset">
          <li class="share__item">
            <a class="share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
          </li>

          <li class="share__item">
            <a class="share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
          </li>

          <li class="share__item">
            <a class="share__linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
          </li>

          <li class="share__item">
            <a class="share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}/images/{{ page.image }}&amp;description={{ page.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"
              rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <!-- end post -->
    </div>
  </div>

  <div class="container">
  <div class="post__navigation">
    {% if page.previous.url %}
    <div class="prev">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.previous.url}}" style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"></a>
      <h2 class="post__nav__title">
        <i class="ion ion-md-arrow-back"></i>
        <a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
      </h2>
      <p class="prev__excerpt">
        {% if page.previous.description %}
          {{ page.previous.description }}
        {% else %}
          {{ page.previous.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
    </div>
    {% endif %}

    {% if page.next.url %}
    <div class="next">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.next.url}}" style="background-image: url({{site.baseurl}}/images/{{page.next.image}})">
      </a>
      <h2 class="post__nav__title">
        <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a>
        <i class="ion ion-md-arrow-forward"></i>
      </h2>
      <p class="next__excerpt">
        {% if page.next.description %}
          {{ page.next.description }}
        {% else %}
          {{ page.next.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
    </div>
    {% endif %}
  </div>

  {% if site.data.settings.disqus-identifier %}{% endif %}
  </div>


<script>
  function getTOCNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var tocNodes = nodes.filter(function(elem) {
        return elem.tagName == "A";
    });
    return tocNodes;
  }
  function getHeaderNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var headerNodes = nodes.filter(function(elem) {
        return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
    });
    return headerNodes;
  }

  var title = document.getElementsByClassName("post-title")[0];
  var titleY = window.pageYOffset + title.getBoundingClientRect().top;
  
  var article = document.getElementsByClassName("post-article")[0];
  var articleY = window.pageYOffset + article.getBoundingClientRect().top;

  var toc = document.getElementsByClassName("toc")[0];

  var headerNodes = getHeaderNodes(article);
  var tocNodes = getTOCNodes(toc);

  var before = undefined;

  document.addEventListener('scroll', function(e) {
    if (window.scrollY >= articleY-60) {
      toc.style.cssText = "position: fixed; top: 60px;";
    }
    else {
      toc.style.cssText = "";
    }

    var current = headerNodes.filter(function(header) {
      var headerY = window.pageYOffset + header.getBoundingClientRect().top;
      return window.scrollY >= headerY - 60;
    });

    if (current.length > 0) {
      current = current[current.length-1];

      var currentA = tocNodes.filter(function(tocNode) {
        return tocNode.innerHTML == current.innerHTML;
      })
      
      currentA = currentA[0];
      if (currentA) {
        if (before == undefined) before = currentA;

        if (before != currentA) {
          before.classList.remove("toc-active");
          before = currentA;
        }

        currentA.classList.add("toc-active");
      }
      else {
        if (before) 
          before.classList.remove("toc-active");
      }
    }
    else {
      if (before) 
          before.classList.remove("toc-active");
    }

  }, false);
</script>
